* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  line-height: 1.6;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de habilidades */
#habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#habilidades table {
  border-collapse: collapse;
  width: 100%;
}

#habilidades th, #habilidades td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#habilidades th {
  background-color: #f0f0f0;
}

/* Estilos para a seção de contato */
#contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contato table {
  border-collapse: collapse;
  width: 100%;
}

#contato th,  #contato td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#contato th {
  background-color: #f0f0f0;
}

/* Container Principal */
.portfolio-section {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Estilo do Texto */
.portfolio-text {
  flex: 1;
  padding: 20px;
}

.portfolio-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.portfolio-text p {
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.6;
  color: #666;
  margin-top: 15px;
  text-align: justify; margin: 0 auto;
}

/* Estilo da Imagem */
.portfolio-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.portfolio-image img {
  max-width: 40%;
  height: 100%;
  border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .portfolio-section {
      flex-direction: column;
      text-align: center;
  }
  
  .portfolio-text {
      padding: 10px;
      text-align: justify; width: 80%; margin: 0 auto;
  }
  
  .portfolio-image {
      padding: 10px;
  }


}